@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Noto+Serif+Georgian:wght@100..900&display=swap');
@import url("//cdn.web-fonts.ge/fonts/alk-rounded-mtav-med/css/alk-rounded-mtav-med.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  font-family: "Roboto", serif;

}

.container {
  width: 90%;
  max-width: 100%;
  margin: auto;
}

.res-row {
  width: 50%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}


.home_section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main_video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}



.content_overlay {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  margin-bottom: 80px;
}


.content-overlay-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", serif;
  margin-bottom: 50px;
  
}

.text-eyebrow {
  font-size: 20px !important;
}


.content-h1 {
  font-size: 127px;
  color: aliceblue;
  font-weight: 400;
  text-transform: uppercase;
}
.content-span {
  font-size: 44px;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
}

.logo {
  width: 150px;
}

.content-btn {
  margin-bottom: 70px;
}

/* foooter */

.footer {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.footer-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Roboto", serif;

}

.foot-span {
  font-size: 12px;
  
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
}
/* btns */

/* From Uiverse.io by mrhyddenn */ 
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}


[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 100vh;
  max-height: 100vh;
}


.keen-slider__slide {
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;  
  
}




.number-slide1 {

  background-image: url(../src/assets/yx1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}




/*  */
.navigation-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;

}
/*  */

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}


/* first */
/*  */
.first_project_section {
  width: 100%;
  min-height: 100vh;  
}
/*  */
/* .language-menu */

.language-menu {
  position: absolute;
  z-index: 1000;
  top: 1%;
  left: 90%;
  cursor: pointer;
} 

.language-btn {
  border: none;
  border-radius: 3px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 27px;
  margin-bottom: 2px;
  cursor: pointer;
  align-items: center;

}

.language-dropdown {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  list-style: none;
  background-color: #222;
  cursor: pointer !important;
}

.dropdown-item {
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: white;
  color: #222;
}




/* responsive */

.first_project_section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background-color: #111; */
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}





/*  */

/* ui */




/*  */

  
/* loading */

/*  */

.custom-button {
  background-color: white;
  position: fixed;
  text-align: center;
  width: 12rem; /* 48px */
  height: 3.5rem;
  border-radius: 1rem; /* rounded-2xl */
  color: black;
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  overflow: hidden;
  cursor: pointer;
  z-index: 100000;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
}
/*  */

.button-bg {
  background-color: #222; /* green-400 */
  border-radius: 0.75rem; /* rounded-xl */
  height: 3rem; /* 12px */
  width: 25%; /* w-1/4 */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0.25rem; /* left-1 */
  top: 0.25rem; /* top-[4px] */
  z-index: 10;
  transition: width 0.5s ease;
}
/*  */

.custom-button:hover .button-bg {
  width: 11.5rem; /* w-[184px] */
}

.button-text {
  transform: translateX(0.5rem); /* translate-x-2 */
}

/*  */
/* loader */

/* From Uiverse.io by Donewenfu */ 

.preloader {
  width: 100%;
  height: 100vh;
  background-color: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden  ;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


/* investing */

.investing {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.c-t {
  width: 100%;
  max-width: 100px;
  padding: 00px 0px 40px 0px;
  display: flex;
  
}

.carousel-top-text {
  font-size: 46px;
  color: black;
  margin-top: 40px;
  font-weight: 400;
  
}
.carousel-top-text-1 {
  font-size: 46px;
  color: black;
  font-weight: 400;
  margin-top: 50px;
  
}

.investing-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text-eyebrow {
    display: flex;
    align-items: center;
    align-self: baseline;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.text-eyebrow:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: currentcolor;
  margin-right: .8rem;
}

.text-xl1 {
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  line-height: 105%;
}


/* info carousel */

/* Basic styling */

.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: black;
  border-radius: 20px;
  margin-bottom: 100px;
}

.center-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 5px solid #f15a22 !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10000;
}
.center-circle1 {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 5px solid #ffffff !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10000;
}


.carousel-next-page {
  font-size: 43px;
  transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
  color: #fff; /* Default color */
  text-decoration: none;
}

.carousel-next-page:hover {
  color: #f15a22; /* Change color on hover */
  cursor: pointer;
  transform: scale(1.1); /* Slightly increase the size */
}

.circular-menu {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 22%;
  left: 29% !important;
  border-radius: 50%;
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circular-menu2 {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #f15a22;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20%;
  
}
.circular-menu4 {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 5px solid #3e9c35;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 34%;
  
}
.circular-menu3 {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 5px solid #4129f9;
  display: flex;
  justify-content: center;
  align-items: center;  
  left: 22%;
  top: 8%;
}



.menu-item {
  position: absolute;
  /* width: 100%; */
  text-align: center;
  cursor: pointer;
  color: #666;
  transition: color 0.3s, transform 0.3s;
  font-family: "Roboto", serif;

}
  .menu-items {
    transition: all 0.3s;
  }
  .menu-items:hover {

  cursor: pointer;
  color: #f15a22;
}

.menu-item:hover {
  color: #f15a22;
}

/* Active class for selected item */
.active {
  color: #f15a22;
  font-weight: bold;
  transform: scale(1.1); /* Optional for enlarging the active item */
  transition: all 0.3s;
}
.active3 {
  color:#4129f9;
  font-weight: bold;
  transform: scale(1.1); /* Optional for enlarging the active item */
  transition: all 0.3s;
}

.active3:hover {
  color: #4d3ae0;
}

/* Circular positioning for each item */
.item-1 { top: -7%; font-size: 30px; width: 100%; left: 50%; color: white; transform: translate(-50%, -50%); }
.item-2 { top: 50%; font-size: 30px; width: 50%; left: -25%; color: white; transform: translate(-50%, -50%); }
.item-3 { top: 50%; font-size: 30px; width: 40%; right: -25%; color: white; transform: translate(50%, -50%); }
.item-4 { bottom: 0; top: 101%; font-size: 30px; left: 50%; color: white; transform: translate(-50%, 50%); }

.restaurant-1 { top: 50%; font-size: 25px; width: 100%; left: -24%; color: white; transform: translate(-50%, -50%); }
.restaurant-2 { top: -8%; line-height: normal; font-size: 25px; width: 50%; left: 50%; color: white; transform: translate(-50%, -50%); }
.restaurant-3 { top: 50%; font-size: 25px; width: 40%; right: -18%; color: white; transform: translate(50%, -50%); }
.restaurant-4 { bottom: 0; top: 103%; font-size: 25px; left: 50%; color: white; transform: translate(-50%, 50%); }

.itemso-1 { top: 50%; font-size: 25px; width: 50%; left: -15%; color: white; transform: translate(-50%, -50%); }
.itemso-2 { top: -7%; line-height: normal; font-size: 25px; width: 50%; left: 50%; color: white; transform: translate(-50%, -50%); }
.itemso-3 { top: 50%; font-size: 25px; width: 53%; right: -16%; color: white; transform: translate(50%, -50%); }
.itemso-4 { bottom: 0; top: 104%; font-size: 25px; left: 50%; color: white; transform: translate(-50%, 50%); }

.prod2-1 { top: 50%; font-size: 25px; width: 100%; left: -29%; color: white; transform: translate(-50%, -50%); }
.prod2-2 { top: -8%; line-height: normal; font-size: 25px; width: 100%; left: 50%; color: white; transform: translate(-50%, -50%); }
.prod2-3 { top: 50%; font-size: 25px; width: 30%; right: -17%; color: white; transform: translate(50%, -50%); }
.prod2-4 { bottom: 0; top: 103%; font-size: 25px; left: 50%; color: white; transform: translate(-50%, 50%); }


/* Styling for info box */
.restaurant-span-text {
  font-size: 50px;
}

.info-box {
  position: absolute;
  top: 2%;
  color: rgb(255, 255, 255);
  right: 39%;
  text-align: left;
  width: 100%;
}

  
.active  {
  color: #f15a22 !important;
}


/* xs */
/* LanguageToggle.css */

.s-c-1 {
  margin-bottom: 80px;
}

.project-sircle-p1 {
  position: absolute;
  top: 60% !important;
  left: 58% !important;
  font-size: 19px !important;
  font-family: "Roboto", serif !important;
  color: rgb(255, 255, 255);
  font-weight: 400;
  width: 42%;
}
.project-sircle-p2 {
  position: absolute;
  top: 5% !important;
  left: 55% !important;
  font-family: "Roboto", serif;
  width: 40%;
  padding: 5px;
  font-size: 18px;
}


.sircle-span {
  position: absolute;
  left: 40%;
  width: 90% !important;
  font-size: 25px;
  transition: all 0.8s;
  padding: 0 0 0 5px;
  font-family: "Roboto", serif;

}

.sircle-span2{
  
  position: absolute;
  left: 40%;
  width: 32% !important;
  font-size: 19px;
  transition: all 0.8s;
  padding: 0 0 0 5px;
  font-family: "Roboto", serif;

}

.sircle-span3 {
  position: absolute;
  left: 40%;
  width: 32% !important;
  font-size: 23px;
  transition: all 0.3s;
  padding: 0 0 0 5px;
  font-family: "Roboto", serif;

}
/* about */

.about {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.about-span {
  font-style: normal;
  font-weight: 300;
  line-height: 105%;
  color: #111111;
  font-size: 50px;
  font-family: "Roboto", serif;
  width: 100%;
} 

.about-p {
  font-size: 35px;
  color: #111111 !important;
  width: 100%;
  font-family: "Roboto", serif;

}

[class^="number-slide"],
[class*=" number-slide"] {
  background: rgb(214, 29, 29);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 100vh;
  max-height: 100vh;
}

  .number-slides1 { 
    width: 100%;
    max-width: 100%; 
    height: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    background-image: url(../src/assets/3y.jpg);
  }

.keen-slider__slide {
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  
}


.scroll-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #e1e1e1;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: absolute;
  top: 0%;
}

.scroll-btn:hover {
  background-color: #2980b9;
}



.number-x1 {

  background-image: url(../src/assets/4y.jpg) !important;
}
.number-x2 {

  background-image: url(../src/assets/yx1.jpg) !important;

}
.number-x3 {
  background-image: url(../src/assets/sc1.jpg) !important;
}
.number-x4 {
  background-image: url(../src/assets/sc2.jpg) !important;
}
.number-x5 {
  background-image: url(../src/assets/sc3.jpg) !important;
}
.number-x6 {
  background-image: url(../src/assets/sc4.jpg) !important;

}
.number-x7 {
  background-image: url(../src/assets/sc5.jpg) !important;
}
.number-x8 {
  background-image: url(../src/assets/sc6.jpg) !important;
}


.project-slider-text-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.project-slider-span {
  font-size: 120px;
  color: #ffffff;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Black shadow with some transparency */
  font-family: "Roboto", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

}

/* down arrow */


@media only screen and (max-width: 1280px) {
  .circular-menu2 {
    width: 400px;
    height: 400px;
    top:32%;
    left: 32%;

  }

  .sircle-span2 {
    font-size: 22px !important;
  }

  .circular-menu {
    width: 400px;
    height: 400px;
    left: 35%;
  }

  .circular-menu3 {
    width: 400px;
    height: 400px;
  }

  /* .carousel-next-page {
    top: 43% !important;
  } */

  .restaurant-1 {
    font-size: 25px !important;
    left: -27%;
  }
  .restaurant-2 {
    font-size: 25px !important;
    left: 48%;
    top: -30px;
    width: 100%;
  }
  .restaurant-3 {
    width: 100%;
    font-size: 25px !important;
    left: 39%;
  }
  .restaurant-4 {
    font-size: 25px !important;
    top: 103%;
    width: 100%;
  }

  .sircle-span2 {
    width: 97% !important;
    font-size: 18px;
  }
    
  .prod2-3 {
    right: -21%;
  }

  .language-menu {
    left: 85%;
  }


.item-3 {
  right: -25%;
  top: 53%;
}

.item-2 {
  left: -27%;
  font-size: 30px;
}



.item-1,
.item-3,
.item-4{
  font-size: 30px;
}
.sircle-span {
  line-height: 28px;
}
}


@media only screen and (max-width: 1200px) {

  .circular-menu3 {
    display: none;
  }

  .project-sircle-p2 {
    display: none;
  }
  .info-boxes {
    display: none;
  }
  .s-c-1 {
    height: auto !important;
  }

  .circular-menus {
    width: 100%;
    max-width: 100%;
    /* min-height: 100vh; */
    padding: 50px 20px;
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  /* restor */
  
  .circular-menu2 {
    display: none;
  }

  .circular-menu4 {
    display: none;
  }
  .sircle-span2 {
    display: none;
  }

  .info-box {
    display: none;
  }

  /* restor */
  

  .carousel-containers {
    height: auto !important;
    /* padding: 20px; */
  }

  .sircle-span {
    display: none;
  }

  .circular-menu {
    display: none !important;
  }

  
  

}
@media only screen and (max-width: 1100px) {
 
  .exploring-planets {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 100% !important;
    height: 60vh !important;
  }

  .res-t {
    text-align: center;
  }
    
  .header {
    justify-content: center;
  }

  .title {
    text-align: center;
  }
  .description {
    padding: 0px !important;
    text-align: center;
    margin-bottom: 20px;
  }

  .cta {
    width: 100% !important;
    margin-bottom: 20px;
  }
}
    
    


    @media only screen and (max-width: 950px) {  

  .about {
    flex-direction: column;
    gap: 10px;

  }

  .about-span {
    font-size: 37px;
    margin-bottom: 20px;
    
  }

  .about-p {
    font-size: 17px;
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  

  .content-h1 {
    font-size: 110px;
  }

  .content-span {
    font-size: 40px;
  }


  .content {
    align-items: center !important;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }


  
}

@media only screen and (max-width: 830px) {

  .carousel-next-page {
    font-size: 25px;
  }

}
@media only screen and (max-width: 780px) {

  .restaurant-span-text {
    font-size: 40px;
  }




  .content-h1 {
    font-size: 90px;
  }

  .content-span {
    font-size: 35px;
  }

}

@media only screen and (max-width: 680px)  {
  .project-slider-span {
    /* left: 23%; */
    font-size: 80px;
  }

  .circular-menu {
    left: 33% !important;
}

.circular-menu {
  width: 180px;
  height: 180px;
  top: 35%;
  left: 30% !important;
}

.carousel-next-page {
  font-size: 18px;
}




.sircle-span1 {
  font-size: 25px !important;
}
/* res more */

.menu-items {
  font-size: 25px !important;
}

.sircle-spans1 {
  font-size: 25px !important;
  
}



.items-4 {
  margin-bottom: 15px !important;
}



}
@media only screen and (max-width: 580px) {
  /* .project-slider-span {
    left: 20%;
    font-size: 80px;
  } */

  .content-h1 {
    font-size: 80px;
  }

  .content-span {
    font-size: 25px;
  }

  .sircle-span2 {
    font-size: 13px !important; 
  }

  .about-span {
    font-size: 35px;
  }


  .restaurant-span-text {
    font-size: 20px;
  }



.project-sircle-p1 {
  font-size: 15px;
  line-height: 20px;
}
.project-sircle-p2 {
  font-size: 15px !important;
  top: 37% !important;
}


}

@media only screen and (max-width: 520px) {

  .content-h1 {
    font-size: 56px;
  }

  .restaurant-span-text {
    font-size: 20px;
  }

  .project-sircle-p1 {
    font-size: 13px !important;
    line-height: 16px !important;
  }
  .project-sircle-p2 {
    top: 78% !important;
    font-size: 13px !important;
  }

  .carousel-next-page {
    font-size: 18px;
  }

  
  .language-menu {
    left: 78%;
  }

  .about-span {
    font-size: 25px;
  }

  .investing-container {
    gap: 20px;
  }




  .carousel-next-pages {
    font-size: 24px !important;
    padding: 10px;
  }

  .sircle-spans1 {
    font-size: 16px !important;
  }

  .items-1 {
    font-size: 16px !important;
  }
  .items-2 {
    font-size: 16px !important;
  }
  .items-3 {
    font-size: 16px !important;
  }
  .items-4 {
    font-size: 16px !important;
  }

}





@media only screen and (max-width: 415px) {
  
  .project-slider-span {
    font-size: 60px;
    
  }

  .carousel-container {
    margin-bottom: 40px;
  }

  /* .sircle-span {
    font-size: 16px;
  } */

  .about-span {
    font-size: 20px;
  }

  .circular-menu2 {
    width: 130px;
    height: 130px;
    top: 60% !important;
    left: 27%;
    
  }
  
  /* .carousel-next-page {
    top: 62% !important;
    left: 34%;
    width: 110px;
    height: 110px;
  } */
}


@media only screen and (max-width: 405px) {

  .content-h1 {
    font-size: 45px;
  }

  .usel-next-page {
    font-size: 14px;
  }
}

/*  */

.carousel-containers {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: black;
  border-radius: 20px;
  margin-bottom: 100px;
}


.carousel-next-pages {
   /* position: absolute;
  top: 85%; */
  font-size: 35px;
  transition: all 0.3s ease-in-out; /* Smooth transition for all changes */
  color: #fff; 
  text-decoration: none;
  border: 1px solid #f15a22 ;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.carousel-next-page:hover {
  color: #f15a22;
  cursor: pointer;
  transform: scale(1.1); /* Slightly increase the size */
}
.carousel-next-pages:hover {
  color: #f15a22; /* Change color on hover */ 
  cursor: pointer;
  transform: scale(1.1); /* Slightly increase the size */
}

.circular-menus {
  width: 100%;
  max-width: 100%;
  /* min-height: 100vh; */
  padding: 50px 20px;
  display: none;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.info-boxs {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.sircle-span1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.sircle-spans1 {
  text-align: center;
  font-size: 30px;
  color: #fff;

}

.items-1 {
  font-size: 30px;
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
}
.items-2 {
  font-size: 30px;
  width: 80%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 5px;
}
.items-3 {
  font-size: 30px;
  width: 80%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 5px;
}
.items-4 {
  font-size: 30px;
  width: 80%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 40px;
}


/* project card */


[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}





/*  */


.whats-app {
  background-color: "#007bff";
  border-radius: "50%";
  width: 50px;
  height: 50px;
  border:  none;
  color: #fff;
  font-size: 24px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: all 0.4s;
  cursor: pointer;
  z-index: 100001;
}
.whats-app:hover {
  transform: scale(1.1);
}

/*  */
.exploring-planets {
  display: flex;
  background-color: #1c1c1c; /* dark background */
  justify-content: space-between;
  color: white;
  padding: 20px;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
}
.exploring-planets1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #1c1c1c; /* dark background */
  color: white;
  padding: 20px;
  
  width: 100%;
  margin: auto;
  margin-bottom: 150px;
}

.content {
  width: 45%;
}

.header {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888;
}

.page-number, .total-pages {
  font-weight: bold;
}

.divider {
  margin: 0 5px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 30px 0px 0px;
}

.image {
  height: 88vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../src/assets/4y.jpg);
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  
}


.res-t {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;

}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


/* From Uiverse.io by alexmaracinaru */ 
.cta {
  width: 250px;
  padding: 10.5px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  background-color: white;
  border-radius: 25px;
  color: #234567;
  font-size: 20px;
}

.cta:hover {
  transform: scale(1.1);
}



.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}